:root {
    --blue: #6772e5;
    --indigo: #6610f2;
    --purple: #8c43dd;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #13b094;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #4c4c78;
    --primary: #6772e5;
    --secondary: #6c757d;
    --success: #13b094;
    --info: #8c43dd;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f9f9fc;
    --dark: #4c4c78;
    --width-navbar: 64px;
}

*, ::after, ::before {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #24292e;
    color: #586069;
    background: #fff;
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9fc;
}

a {
    color: #929292;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}

canvas, img, video {
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
}

table {
    width: 100%;
    background: #fff;
    border-radius: 3px;
    border-spacing: 0;
    border-collapse: collapse;
}

th {
    padding: 10px 16px;
    font-size: 18px;
    text-align: left;
    font-weight: bold;
    color: #24292e;
    border-bottom: 1px solid #c8e1ff;
    border-right: 1px solid #c8e1ff;
    background-color: #f1f8ff;
}

th:last-child {
    border-right: none;
}

td {
    border-radius: 3px;

    line-height: 20px;

    text-align: left;
    padding: 8px 16px;
    border-top: 1px solid #eaecef;
    border-right: 1px solid #eaecef;
}

td:last-child {
    border-right: none;
}

tr:hover td {
    background: #f6f8fa;
}

svg {
    overflow: hidden;
    vertical-align: middle;
}

.container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1030px;
    }
}

.container-fluid {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

@media (min-width: 1310px) {
    .container-fluid {
        max-width: 1310px;
    }
}

.header {
    padding: 50px 0;

    background: url('../img/sb-shop-overlay.svg'), linear-gradient(150deg,#13b094 0,#6772e5 85%);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.header .sb-shop-masthead-border {
    position: absolute;
    bottom: -1px;
    left: 0;
}

.header > * {
    position: relative;
    display: flex;
    align-items: flex-end;
}

.promo {
    text-align: center;
}

.promo-cover {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 40%;
}

.promo-cover2 {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 20%;
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

.promo .title {
    position: relative;
    margin-top: 0;
    font-size: 25px;
    font-weight: 400;
    color: #fff;
    font-family: 'IBM Plex Serif', serif;
    margin-bottom: 30px;
}

.promo .subtitle {
    position: relative;
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 15px;
    font-weight: 300;
    color: #fff;
}

@media (min-width: 576px) {
    .promo .title {
        font-size: 30px;
    }

    .promo .subtitle {
        font-size: 18px;
    }
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}

.promo > div {
    position: relative;
    margin-bottom: 50px;
}

.button-outline {
    display: inline-block;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 20px;

    font-size: 15px;
    line-height: 1.5;
    border-radius: 3px;

    margin-bottom: 10px;

    color: #f8f9fa;
    border-color: #f8f9fa;

    transition: all 0.08s ease 0s;
}

.button-outline img {
    height: 24px;
    margin-right: 10px;
}

.button-outline:hover {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.button-outline:focus {
    outline: 0;
    -webkit-box-shadow: 0 0 0 3px rgba(248,249,250,.5);
    box-shadow: 0 0 0 3px rgba(248,249,250,.5);
}

.features {
    background-color: #f9f9fc;
}

.features > * {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

@media (min-width: 576px) {
    .features > * {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 768px) {
    .features > * {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 992px) {

}

.feature {
    text-align: center;
}

.feature img {
    width: 250px;
    height: 250px;

    border-radius: 50%;
    box-shadow: 0 2rem 1.5rem -1.5rem rgba(43,42,53,.3), 0 0 1.5rem 0.5rem rgba(43,42,53,.05);
}

.feature-image {
    position: relative;
    background: hsl(0, 0%, 80%);
}

.feature-body {
    padding: 15px;
}

.feature-body > h3 {
    margin: 0;
    font-size: 18px;
    color: #2b2a35;
    font-weight: 500;
    margin-bottom: 15px;
}

.feature-body > p {
    margin: 0;
}




.footer {
    padding: 30px 0;
    background-color: #2b2a35;
}

.footer > * {

    color: #ffffff80;
}

@media (min-width: 576px) {
    .footer > * {
        display: flex;
        justify-content: space-between;
        color: #ffffff80;
    }
}