.hamburger {
  position: fixed;
  right: 83px;
  top: 35px;
  z-index: 9998;
  cursor: pointer;
  padding: 5px 4px;
  background-color: transparent;

  &:hover {

    span {
      opacity: 0.75;

      &:nth-child(1) {
        -moz-transform: translate3d(0,-4px,0);
        -ms-transform: translate3d(0,-4px,0);
        -webkit-transform: translate3d(0,-4px,0);
        transform: translate3d(0,-4px,0);
      }

      &:nth-child(3) {
        -moz-transform: translate3d(0,4px,0);
        -ms-transform: translate3d(0,4px,0);
        -webkit-transform: translate3d(0,4px,0);
        transform: translate3d(0,4px,0);
      }
    }
  }

  span {
    display: block;
    width: 42px;
    height: 4px;
    margin: 8px;
    background-color: #7a7a7a;

    &:nth-child(n) {
      -moz-transition: -moz-transform .45s cubic-bezier(.43,.77,.15,1.5),background .3s ease;
      -o-transition: -o-transform .45s cubic-bezier(.43,.77,.15,1.5),background .3s ease;
      -webkit-transition: -webkit-transform .45s cubic-bezier(.43,.77,.15,1.5),background .3s ease;
      transition: transform .45s cubic-bezier(.43,.77,.15,1.5),background .3s ease;
    }
  }

  &.close {

    &:hover {

      span {

        &:before {
          -moz-transform: translate3d(0,10px,0) rotate(50deg) scale(1.5);
          -ms-transform: translate3d(0,10px,0) rotate(50deg) scale(1.5);
          -webkit-transform: translate3d(0,10px,0) rotate(50deg) scale(1.5);
          transform: translate3d(0,10px,0) rotate(50deg) scale(1.5);
        }

        &:after {
          -moz-transform: translate3d(0,-10px,0) rotate(-50deg) scale(1.5);
          -ms-transform: translate3d(0,-10px,0) rotate(-50deg) scale(1.5);
          -webkit-transform: translate3d(0,-10px,0) rotate(-50deg) scale(1.5);
          transform: translate3d(0,-10px,0) rotate(-50deg) scale(1.5);
        }
      }
    }

    span {
      transition-duration: 0.1s;
      transition-delay: .25s;
      background: transparent;

      &:before {
        transition: top .25s, transform .25s .25s;
        top: 0;
        transform: rotateZ(-45deg);
      }

      &:after {
        transition: top 0.4s, transform .25s .25s;
        top: 0;
        transform: rotateZ(45deg);
      }
    }
  }
}